{% extends "app.twig" %}
{% block user %}
    <div class="container">
        <div class="row user-container">
            {% if session.email is defined %}
                <p class="loginUser">Hello, {{ session.username }}</p>
                <p class="loginUser">{{ session.email }}</p>
                <br>
                <a href='/logout' class='btn btn-warning w-50'>
                    <i class="fa fa-sign-out"></i> Sign out
                </a><br>
            {% else %}
                <a href='/login' class='btn btn-warning'>
                    <i class="fa fa-sign-in"></i> Sign in
                </a><br>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Edit product:</h3>
        </div>
        <div class="row">
            <div class="form-group">
                {% for error in session._errors %}
                    <div style="color:red;"><b>{{ error }}</b></div><br/>
                {% endfor %}
                <form action="/products/{{ products.id }}/edit" method="post">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control w-50" name="title" value="{{ products.title }}" required/><br>
                    <label for="category" class="form-label">Category:</label>
                    <select name="category" id="category" class="form-select w-25" required>
                        <option value="Components">Components</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Storage">Storage</option>
                    </select><br>
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" class="form-control w-25" name="quantity" value="{{ products.quantity }}" required><br>

                    <button type="submit" name="edit" class="btn btn-success">
                        <i class="fa fa-save"></i> Save
                    </button><br><br>
                </form>
                <a href="/products" class="btn btn-primary">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>
{% endblock %}