{% extends "app.twig" %}
{% block content %}
    <div class="container">
        <h1 class="center">Product Catalog:</h1>
        <div class="row todos">
            <a href="/products/create" class="btn btn-primary w-50 create">CREATE</a>
        </div>
        <div class="row todo-list">
            {% for product in products.products %}
                <div class="col-md-6 product">
                    <h5>Name: {{ product.title }}</h5>
                    <p>Category: {{ product.category }}</p>
                    <p>Quantity: {{ product.quantity }}</p>
                    <p>Created at: {{ product.createdAt }}</p>
                    <p>Last edit: {{ product.updatedAt }}</p>

                    <form method="post" action="/products/{{ product.id }}" class="btnForm">
                        <button type="submit" class="btn btn-warning btnDelete">Delete Product</button>
                    </form>
                    <form action=""></form>
                    <a href="/products/{{ product.id }}/edit">
                        <button type="submit" class="btn btn-warning btnDelete">Edit Product</button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}